.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleContact {
  font-size: 50px;
  margin: 40px 0px 15px 0px;
  text-align: center;
  color: #fffaff;
}

.descriptionContact {
  font-size: 1.2rem;
  text-align: center;
  max-width: 900px;
  color: #fffaffd0;
  margin: 0px 50px 66px 50px;
}

.cardsServices {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0px 20px 40px 20px;
}