.Card {
  font-family: 'Inter', sans-serif;
  width: 190px;
  height: 120px;
  padding: 0.5rem;
  background: #565857;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.440);
  border-left: 2px  rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.096);
  transform: skewX(3deg);
  transition: .4s;
  overflow: hidden;
  color: #fffaff;
}

.Card:hover {
  height: 277px;
  transform: skew(0deg);
}

.titleCard {
  text-align: center;
  margin-bottom: 2.4rem;
  color: #FFFAFF;
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
  cursor:  context-menu;
}


